
/*-------------------------------NavBar-----------------------------------*/
.list {
    list-style: none;
    margin-bottom: 1em;
    white-space: nowrap;
}

.link {
    width: 125px;
}

.active {
    text-align: left;
    margin-right: 10vw;
    padding: .5em 50% .5em 20px;
    border-radius: 10px;
    background-color: #F6EDE4;
    color: #FE8E66;
}

/*-------------------------------Burger Menu-----------------------------------*/
.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    height: 105px;
    width: 20vw;
    max-width: 300px;
    min-width: 200px;
    padding-left: 1em;
    gap: 1em;
    z-index: 1000;
    overflow-x: auto;
}